/* Update the font weight for the entire navigation bar. Works only the size, not weight (see below)*/
.navbar {
    font-weight: 100 !important; /* Remove bold font */
    font-size: 11px; /* Set desired font size */
}

/* Ensure the site title (brand) is also styled correctly. Does not work... */
.navbar .navbar-brand {
    font-weight: 100; /* Remove bold font */
    font-size: 15px; /* Set desired font size for the site title */
    order: -10; /* Move the site title before the menu items */
}

/* font-weight navbar. Works. */ 
.nav-link {
    display: block;
    padding: .75rem;
    font-weight: 300;
    -webkit-transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,-webkit-box-shadow,-webkit-transform,-webkit-filter,-webkit-backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,-webkit-box-shadow,-webkit-transform,-webkit-filter,-webkit-backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-box-shadow,-webkit-transform,-webkit-filter,-webkit-backdrop-filter;
    -webkit-transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    -webkit-transition-duration: .15s;
    transition-duration: .15s
}

/*to make nav bar header bold when active*/
.nav-link.active {
    font-weight: 400 !important;
}

/*smaller font scrollbar*/
/* Target specific scrollbar elements */
.hb-scrollbar {
    font-size: 0.6rem;
    font-weight: 300 !important; /*leave it even with custom.js*/
}

/*to make it bold when active, thanks to custom.js*/
.hb-scrollbar a {
    transition: font-weight 0.2s, color 0.2s;
}

/* Decrease the size of the footer */
#footer {
    padding: 10px; /* Adjust padding as needed */
    font-size: 11px; /* Adjust font size as needed */
}

footer .powered-by {
    font-size: 0.8rem; /* Reduce font size */
    font-weight: 300;
  }
  
footer .powered-by a {
    color: #000000; /* Change link color to black */
  }

footer .powered-by a:hover {
    color: #937474; /* Change link color to red on hover */
  }

.dark footer .powered-by a {
    color: #ffffff; /* Change link color to white in dark theme */
  }
  
.dark footer .powered-by a:hover {
    color: #8e8f8e; /* Change link color on hover in dark theme */
  }


  /*font of the whole website*/

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;500&display=swap');

body, p, h1, h2, h3, h4, h5, h6, a, li, nav {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 14px;
    font-weight: 300;
}

h1, h2 {
    font-size: 30px !important; /* "Teaching"*/
    font-weight: 400 !important;
}

/*to hide h1 (title page) from all the pages*/
h1.text-4xl.font-bold.tracking-tight {
  display: none;
}

h3 {
    font-size: 25px !important; /*"Academic teaching"*/
    font-weight: 400 !important;
}

h4 {
    font-size: 20px !important; /* "AY2025... ok*/
    font-weight: 400 !important;
}

h5, h6 {
    font-size: 20px !important;
    font-weight: 400 !important;
    font-style: italic !important;
}

a, li, nav {
    font-size: 13px !important;
    font-weight: 300; /*do not put !important if you want to bold on selection*/
}

  /* Restore Verdana 
p {
    font-family: verdana; 
    font-size: 14px;
    color: #4c4b4b;
  }
*/




.footnotes {
    font-size: 0.75em;
}


.dark p {
    color: rgba(255, 255, 255, 0.7);
}

body.dark,
.dark input {
    color: rgba(255, 255, 255, 0.7);
}

.dark .card-simple {
    background-color: #373636;
    border-color: #555555;
}

.dark .navbar {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
    border: 1px solid #2b2a2a;
}

body.dark,
.dark {
    background: #2b2a2a !important
}

.dark code {
    background-color: #2b2a2a;
    color: silver;
    word-wrap: break-word;
    border-radius: 0.25rem;
    font-size: 80%;
    border: 1px solid silver;
    padding: 0.2rem;
}

.dark .btn-outline-primary {
    color: #f3f6ee;
    border-color: #f3f6ee;
}

.dark .form-control {
    color: #f3f6ee;
    background-color: #373636;
}

.dark .alert,
.dark .article-style aside,
.dark .alert-note {
    color: #c3c3c3;
    background-color: #434343;
    border-color: #c3c3c3;
}

.dark .article-style aside p::before,
.dark div.alert>div:first-child::before {
    position: absolute;
    top: -0.5rem;
    left: -2rem;
    font-size: 1.5rem;
    color: #c3c3c3;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f05a';
    width: 1.5rem;
    text-align: center;
}

.dark details p {
    border-left: 0px solid rgba(255, 255, 255, 0.5);
}

.dark .table th,
.dark .table td {
    color: rgba(255, 255, 255, 0.7);
    border-top: 1px solid rgba(255, 255, 255, 0.7);
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

.dark table>tbody {
    color: rgba(255, 255, 255, 0.7);
}

.dark table>tbody>tr:nth-child(odd)>td,
.dark table>tbody>tr:nth-child(odd)>th {
    background-color: #2b2a2a;
}

.dark table>tbody>tr:hover>td,
.dark table>tbody>tr:hover>th {
    background-color: #2b2a2a;
}

.dark pre code {
    border: 0px;
}

.dark .chroma {
    color: #f8f8f2;
    background-color: #2b2a2a;
    border-radius: 0.25rem;
    font-size: 90%;
    border: 1px solid #555555;
    padding: 1rem;
}

.dark .btn-primary,
.dark .btn.btn-primary.active {
    background-color: #2b2a2a;
    border: 1px solid #555555;
    color: #f8f8f2;
}

#TableOfContents {
    padding-left: 0;
    border-left: 0px solid rgba(255, 255, 255, 0.65);
}

/* to make it bold when TOC is active/on... but does not work*/
#TableOfContents li a.active {
    font-weight: 500 !important; /*to make it bold when there, otherwise leave "normal" instead of 500*/
}

.dark #TableOfContents li a:hover,
.toc-top li a:hover {
    color: #f8f8f2;
    text-decoration: none;
}

.dark #TableOfContents li a.active {
    font-weight: 500 !important; /*otherwise leave "normal"*/
    color: #f8f8f2;
}

.dark .article-style a {
    color: #f3f6ee;
    font-weight: normal;
    border-bottom: 1px solid #f3f6ee;
}

.dark ::selection {
    background: rgba(243, 246, 238, 0.15);
}

.dark ::-moz-selection {
    background: rgba(243, 246, 238, 0.15);
}

.dark a.footnote-ref {
    border-bottom: 0px;
}

.dark a.footnote-ref::before {
    content: "[";
}

.dark a.footnote-ref::after {
    content: "]";
}

@media screen and (max-width: 760px) {
    aside#sidebar-nav {
        display: none !important;
    }
}

#footer p a:visited {
    color: #fff;
    }


/* Target details element */
details.my-custom-class {
    color: #a3a1a1; /* Default color */
    font-size: 14px; /* Default font size */
    font-weight: 500; /* Change to desired weight */
    font-family: 'Libre Franklin', sans-serif;
}

/* Target summary element */
details.my-custom-class > summary {
    color: #4c4b4b; /* Customize summary font color */
    font-size: 14px; /* Customize summary font size */
    font-weight: 300; /* Change to desired weight */
    font-family: 'Libre Franklin', sans-serif;
}

/* Target inner content */
details.my-custom-class > :not(summary) {
    color: #4c4b4b; /* Customize inner content font color */
    font-size: 14px; /* Customize inner content font size */
    background-color: #e3e0e032; /* Light background color for dark theme */
    font-family: 'Libre Franklin', sans-serif;
}

/* Dark theme adjustments for summary element */
.dark details.my-custom-class > summary {
    color: #ffffff; /* Customize summary font color */
    font-size: 14px; /* Customize summary font size */
    font-weight: 300;
    font-family: 'Libre Franklin', sans-serif;
}
/* Dark theme adjustments for inner content */
.dark details.my-custom-class > :not(summary) {
    color: #c5c5c3; /* Customize inner content font color */
    background-color: #252525; /* Dark background color for light theme */
    font-family: 'Libre Franklin', sans-serif;
}

/* change highlighter colour*/

:is(.dark .dark\:prose-invert) :where(mark):not(:where([class~=not-prose],[class~=not-prose] *)) {
    background-color: rgb(var(--color-primary-400)/1);
    color: #000
}

.prose :where(mark):not(:where([class~=not-prose],[class~=not-prose] *)) {
    color: rgb(var(--color-neutral-100)/1);
    background-color: rgb(var(--color-primary-300)/1);
    padding: .1rem .2rem;
    border-radius: .25rem
}

/* Define the spoiler color for light theme */
.spoiler {
    color: #4c4b4b; /* Change this to your desired color for light theme */
    font-size: 13px;
}

/* Define the spoiler color for dark theme */
.dark .spoiler {
    color: #c5c5c3; /* Change this to your desired color for dark theme */
    font-size: 13px;
}

/* change links (it will also change name and icons of "authors" section at the bottom of each page)

.prose :where(a):not(:where([class~=not-prose],[class~=not-prose] *)) {
    color: rgb(var(--color-primary-400));
    text-decoration: none;
    font-weight: 500;
    text-decoration-color: rgb(var(--color-primary-400)/1)
}

.prose :where(a):not(:where([class~=not-prose],[class~=not-prose] *)):hover {
    color: rgb(var(--color-primary-600)/1);
    text-decoration: underline overline;
    text-decoration-color: rgb(var(--color-primary-600)/1);
    border-radius: .09rem;
}

*/

/* changing background does not work
element.style {
    background-image: url('/assets/media/wave@2x.png');
}

.dark element.style {
        background-image: url('/assets/media/background.jpg');
    }
*/

/*have background image appear also in dark mode*/
.dark #section-resume-biography .home-section-bg.bg-image {
  background-image: url('https://tzcorda.github.io/media/circle_hu11179731501665921633.webp') !important;
  background-color: transparent !important;
}