// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.libre-franklin-<uniquifier> {
  font-family: "Libre Franklin", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
p {
    font-family: "Libre Franklin";
    font-size: 12px; 
  }

