/* libre-franklin-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/libre-franklin-v18-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

p {
    font-family: 'Libre Franklin';
    font-size: 12px; 
  }

