<a href="{{ .Get "link" }}" class="custom-button">
  <button style="background: transparent; border: 1px solid rgb(123, 119, 119); border-radius: 7px; font-size: 12px; font-family: inherit; padding: 3px 7px;">
    {{ .Inner }}
  </button>
</a>

<style>
  .custom-button button:hover {
    background: #5a464c;
    color: white;
  }
  </style>
<!-- 
<a href="{{ .Get "link" }}" class="custom-button">
  <button style="background: transparent; border: 1px solid red; color: rgb(140, 134, 134); border-radius: 2px; text-align: center; padding: 0.1em; font-family: inherit; ">
    {{ .Inner }}
  </button>
</a>

<style>
.custom-button button:hover {
  background: rgba(255, 0, 0, 0.652);
  color: primary;
}
</style>

-->
