<style>
    .definition {
        visibility: hidden;
        background-color: #555; /* bg-gray-700 in Tailwind */
        color: #fff; /* text-white in Tailwind */
        text-align: center;
        border-radius: 0.375rem; /* rounded in Tailwind */
        padding: 0.5rem 1rem; /* py-2 in Tailwind */
        position: absolute;
        z-index: 10;
        bottom: 125%;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        transition: opacity 0.3s;
        font-size: 12px; /* Customize font size */
        font-family: Verdana; /* Customize font family */
        font-weight: 200;
        white-space: pre-wrap; /* Allow line breaks */
    }
    
    .term {
        position: relative;
        display: inline-block;
        border-bottom: 0px dotted black;
    }
    
    .term:hover .definition {
        visibility: visible;
        opacity: 0.9;
    }
</style>
<span class="term">
    {{ .Inner }}
    <span class="definition">
        {{ .Get "title" }}
    </span>
</span>